# App
# APP_NAME=Your-app-name
# APP_ID=Your-app-id
# VERSION=1.0.0
# APP_USER_AGENT=Your-app-agents

# Thunderstore API
# THUNDERSTORE_API_URL=your-API-URL

# Game (optional override)
# GAME_PATH=C:/Program Files (x86)/Steam/steamapps/common/REPO
# REPO_EXE=REPO.exe

# User data (optional override)
# USER_DATA_PATH=C:/Users/<YOU>/AppData/Roaming/REPX
# OLD_APP_DATA_FOLDER=your-old-app-folder
# APP_DATA_FOLDER=your-new-app-folder

# Environment
# NODE_ENV=development
